@page
@using Humanizer
@using Tracking.Extensions
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <a asp-page="/Issues/new" class="w-20 vtn btn-primary m-2">+ Add new</a>

    @if(Model.Issues.Count() == 0)
    {
        <p class="text-center">No data to display</p>
    }
    else
    {
        <div class="row g-0">
            @foreach(var issue in Model.Issues)
            {
                <div class="card text-center">
                    <div class="card-header">
                        @issue.IssueType
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a asp-page="/Issue/Detail" asp-route-id="@issue.Id" class="link-dark text-decoration-none" >@issue.Title</a>
                        </h5>
                        <span class="@issue.Priority.ToCssClass()">@issue.Priority</span>
                    </div>
                    <div class="card-footer text-muted">
                        <small>@issue.Created.Humanize(utcDate:false)</small>
                    </div>
                </div>
            }
        </div>
    }
</div>
